%form{:method => "get"}
  %legend Geochecker
  %label Anna kätkön tunnus:
  %input{:name => "id", :type => 'text', :placeholder => 'GCXXXX'}
  %span{:class => 'help-block'} 
  %button{:type => 'submit', :class=>"btn"}Submit
