.row
  .span6
    %table{:class => "table table-hover"}
      %caption
        %strong Uudet kätköt
      %tr{:class => "Diu"}
        %td
          =image_tag("http://www.geocache.fi/images/caches/small/cacheU.gif")
        %td
          18.09. 21:38
        %td
          %a{:href => 'http://coord.info/GCWFWM', :target => '_blank'}>Muinaiset Haudat BONUS
      %tr{:class => "success"}
        %td
          =image_tag("http://www.geocache.fi/images/caches/small/cacheT.gif")
        %td
          18.09. 21:38
        %td
          %a{:href => 'http://coord.info/GCWFWM', :target => '_blank'}>Talman hiekkamonttu
      %tr{:class => "Diu"}
        %td
          =image_tag("http://www.geocache.fi/images/caches/small/cacheT.gif")
        %td
          18.09. 21:38
        %td
          %a{:href => 'http://coord.info/GCWFWM', :target => '_blank'}>Sokeri-Jussi
  .span6
    %table{:class => "table table-hover"}
      %caption
        %strong Tulevat miitit
      %tr{:class => "Diu"}
        %td
          =image_tag("http://www.geocache.fi/images/caches/small/cacheU.gif")
        %td
          18.09. 21:38
        %td
          %a{:href => 'http://coord.info/GCWFWM', :target => '_blank'}>Muinaiset Haudat BONUS
